@using static Horeca.Shared.Utils.Constants
@model Horeca.MVC.Models.Orders.OrderListViewModel

<div class="text-center">
    <div class="card mt-3">
        <div class="card-header pb-0">
            <h1>Orders</h1>
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-action="Index" asp-route-restaurantId="@Model.RestaurantId"
                        asp-route-state="@OrderState.Begin">
                        Begin
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-action="Index" asp-route-restaurantId="@Model.RestaurantId"
                        asp-route-state="@OrderState.Prepare">
                        Prepare
                        </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-action="Index" asp-route-restaurantId="@Model.RestaurantId"
                        asp-route-state="@OrderState.Done">
                        Done
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-column">
            @foreach (var order in Model.Orders)
            {
                <div class="card m-3">
                    <div class="card-header">
                        <h5 class="card-title">Order @order.Id - Table @order.TableId</h5>
                        <a asp-action="DeliverOrder" class="btn btn-primary" asp-route-restaurantId="@Model.RestaurantId" asp-route-orderId="@order.Id">
                            Deliver
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-3">Dish</th>
                                    <th scope="col" class="col-1">Quantity</th>
                                    <th scope="col" class="col-2">Price</th>
                                    <th scope="col" class="col-3">State</th>
                                    <th scope="col" class="col-3">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var orderLine in order.Lines)
                                {
                                    <tr>
                                        <td scope="row">@orderLine.Dish.Name</td>
                                        <td>@orderLine.Quantity</td>
                                        <td>€@orderLine.Price</td>
                                        <td>@orderLine.DishState</td>
                                        <td>
                                            @if (order.OrderState == OrderState.Begin)
                                            {
                                                <a asp-action="PrepareOrderLine" class="btn btn-primary" asp-route-restaurantId="@Model.RestaurantId"
                                                    asp-route-orderId="@order.Id" asp-route-orderLineId="@orderLine.Id">
                                                    Prepare
                                                </a>
                                            }
                                            else if (order.OrderState == OrderState.Prepare)
                                            {
                                                <a asp-action="ReadyOrderLine" class="btn btn-primary" asp-route-restaurantId="@Model.RestaurantId"
                                                    asp-route-orderId="@order.Id" asp-route-orderLineId="@orderLine.Id">
                                                    Ready
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function CheckOrderLinesReady() {

    }
</script>