@model Horeca.MVC.Models.MenuCards.MenuCardDetailViewModel

<div class="text-center">
    <div class="shadow card bg-light mt-3">
        <div class="card-header bg-dark">
            <h1>@Model.Name</h1>
            @if (accountService.Authorize(PermissionConstants.MenuCard_Update))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            }
            <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
        </div>
        <div class="shadow card bg-light m-3">
            <div class="card-header bg-dark">
                <h2>Dishes</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-light mb-0">
                    <thead>
                        <tr>
                            <th scope="col" class="col-3">Name</th>
                            <th scope="col" class="col-2">Dish Type</th>
                            <th scope="col" class="col-2">Category</th>
                            <th scope="col" class="col-2">Price</th>
                            <th scope="col" class="col-3">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.Dishes)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.Category</td>
                                <td>@item.Price</td>
                                <td>
                                    @if (accountService.Authorize(PermissionConstants.Dish_Update))
                                    {
                                        <a asp-action="EditDish" asp-route-menuCardId="@Model.Id"
                                   asp-route-dishId="@item.DishId" class="btn btn-primary">
                                            Edit
                                        </a>
                                    }
                                    @if (accountService.Authorize(PermissionConstants.Dish_Delete))
                                    {
                                        <button id="toDeleteDishModal" type="button" class="modalbutton btn btn-danger"
                                        data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.DishId">
                                            Delete
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="5">
                                @if (accountService.Authorize(PermissionConstants.Dish_Create))
                                {
                                    <a asp-action="AddExistingDish" asp-route-id="@Model.Id" class="btn btn-primary">Add Existing Dish</a>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer bg-dark">
                @if (accountService.Authorize(PermissionConstants.Dish_Create))
                {
                    <a asp-action="CreateDish" asp-route-id="@Model.Id" class="btn btn-primary">Create Dish</a>
                }
            </div>
        </div>
        <div class="shadow card bg-light m-3">
            <div class="card-header bg-dark">
                <h2>Menus</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-light mb-0">
                    <thead>
                        <tr>
                            <th scope="col" class="col-2">Name</th>
                            <th scope="col" class="col-3">Description</th>
                            <th scope="col" class="col-2">Category</th>
                            <th scope="col" class="col-2">Price</th>
                            <th scope="col" class="col-3">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.Menus)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.Category</td>
                                <td>@item.Price</td>
                                <td>
                                    @if (accountService.Authorize(PermissionConstants.Menu_Update))
                                    {
                                        <a asp-action="EditMenu" asp-route-menuCardId="@Model.Id"
                                   asp-route-menuId="@item.MenuId" class="btn btn-primary">
                                            Edit
                                        </a>
                                    }
                                    @if (accountService.Authorize(PermissionConstants.Menu_Delete))
                                    {
                                        <button id="toDeleteMenuModal" type="button" class="modalbutton btn btn-danger"
                                        data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.MenuId">
                                            Delete
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="5">
                                @if (accountService.Authorize(PermissionConstants.Menu_Create))
                                {
                                    <a asp-action="AddExistingMenu" asp-route-id="@Model.Id" class="btn btn-primary">Add Existing Menu</a>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer bg-dark">
                @if (accountService.Authorize(PermissionConstants.Dish_Create))
                {
                    <a asp-action="CreateMenu" asp-route-id="@Model.Id" class="btn btn-primary">Create Menu</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-light">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="deleteModalLabel">Delete item from Menu Card</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black">
                Are you sure you want to remove this item from the Menu Card?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteButton" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       $(document).on("click","#toDeleteDishModal",OpenModalDeleteDish);
       $(document).on("click","#toDeleteMenuModal",OpenModalDeleteMenu);
    });

    function OpenModalDeleteDish(){
       var menuCardId = @Model.Id;
       var dishId = $(this).data("id");
       $('#deleteButton').attr('href', "/MenuCard/DeleteDish/" + menuCardId + "/" + dishId)
       $("#deleteModal").modal();
    }

    function OpenModalDeleteMenu(){
       var menuCardId = @Model.Id;
       var menuId = $(this).data("id");
       $('#deleteButton').attr('href', "/MenuCard/DeleteMenu/" + menuCardId + "/" + menuId)
       $("#deleteModal").modal();
    }
</script>