@model Horeca.MVC.Models.MenuCards.MenuCardDetailViewModel

@{
    ViewData["Title"] = "Menu Card Detail";
}

<div class="text-center">
    <div class="d-flex">
        <div class="d-flex flex-column">
            <h1 class="display-4">@Model.Name</h1>
            <table class="table">
                <tbody>
                    <tr class="d-flex flex-column">
                        <th scope="col">Dishes</th>
                        <td scope="row">
                            <table class="table" style="table-layout: fixed">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Dish Type</th>
                                        <th scope="col">Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @Model.Dishes)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.DishType</td>
                                            <td>@item.Category</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="d-flex flex-column">
                        <th scope="col">Menus</th>
                        <td scope="row">
                            <table class="table" style="table-layout: fixed">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @Model.Menus)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Description</td>
                                            <td>@item.Category</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td scope="row" colspan="2">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="CreateDish" asp-route-id="@Model.Id" class="btn btn-primary">Add Dish</a>
                            <a asp-action="CreateMenu" asp-route-id="@Model.Id" class="btn btn-primary">Add Menu</a>
                            <a asp-action="Index" class="btn btn-secondary">Go Back</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>