@model Horeca.MVC.Models.Restaurants.RestaurantDetailViewModel

<div class="text-center">
    <div class="d-flex flex-column">
        <h1 class="display-4">@Model.Name</h1>
        @if (accountService.Authorize("Schedule_Read"))
        {
            <div class="card mt-3">
                <div class="card-header">
                    <h2>Schedules</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Schedule Date</th>
                                <th scope="col">Start Time</th>
                                <th scope="col">End Time</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var schedule in @Model.ScheduleList.Schedules)
                            {
                                <tr>
                                    <td>@schedule.Id</td>
                                    <td>@schedule.ScheduleDate.ToShortDateString()</td>
                                    <td>@schedule.StartTime.ToShortTimeString()</td>
                                    <td>@schedule.EndTime.ToShortTimeString()</td>
                                    <td>
                                        <a asp-controller="Schedule" asp-action="Detail" asp-route-id="@schedule.Id" class="btn btn-primary">Details</a>
                                        @if (accountService.Authorize("Booking_Create"))
                                        {
                                            <a asp-controller="Booking" asp-action="Create" asp-route-id="@schedule.Id" class="btn btn-primary">Book</a>
                                        }
                                        @if (accountService.Authorize("Schedule_Update"))
                                        {
                                            <a asp-controller="Schedule" asp-action="Edit" asp-route-id="@schedule.Id" class="btn btn-primary">Edit</a>
                                        }
                                        @if (accountService.Authorize("Schedule_Delete"))
                                        {
                                            <button id="toDeleteScheduleModal" type="button" class="modalbutton btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#deleteScheduleModal" data-id="@schedule.Id">
                                                Delete
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                            @if (accountService.Authorize("Restaurant_Update"))
                            {
                                <tr>
                                    <td colspan="5">
                                        <a asp-controller="Schedule" asp-action="Create" asp-route-restaurantId="@Model.Id" type="button" class="btn btn-primary">
                                            Add Schedule
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        <div class="d-flex justify-content-between">
            @if (accountService.Authorize("MenuCard_Read"))
            {
                <div class="card mt-3" style="width: 49%;">
                    <div class="card-header">
                        <h2>Menu Cards</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-9">Name</th>
                                    <th scope="col" class="col-3">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var menuCard in @Model.MenuCards)
                                {
                                    <tr>
                                        <td>@menuCard.Name</td>
                                        <td>
                                            <a asp-controller="MenuCard" asp-action="Detail" asp-route-id="@menuCard.Id" 
                                                class="btn btn-primary">
                                                Details
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (accountService.Authorize("ApplicationUser_Read"))
            {
                <div class="card mt-3" style="width: 49%;">
                    <div class="card-header">
                        <h2>Employees</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-7">Username</th>
                                    <th scope="col" class="col-5">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in @Model.Employees)
                                {
                                    <tr>
                                        <td>@employee.Username</td>
                                        <td>
                                            <a asp-controller="Account" asp-action="Detail" asp-route-username="@employee.Username" class="btn btn-primary">
                                                Details
                                            </a>
                                            @if (accountService.Authorize("Restaurant_Delete"))
                                            {
                                                <button id="toDeleteEmployeeModal" type="button" class="modalbutton btn btn-danger"
                                            data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal" data-id="@employee.Id">
                                                    Remove
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                                @if (accountService.Authorize("Restaurant_Update"))
                                {
                                    <tr>
                                        <td colspan="2">
                                            <a asp-action="AddEmployee" asp-route-restaurantId="@Model.Id" type="button" class="btn btn-primary">
                                                Add Employee
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="deleteEmployeeModal" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Remove Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this employee from this restaurant?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteEmployeeButton" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteScheduleModal" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Schedule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this schedule?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteScheduleButton" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       $(document).on("click","#toDeleteEmployeeModal",OpenModalDeleteEmployee);
       $(document).on("click","#toDeleteScheduleModal",OpenModalDeleteSchedule);
    });

    function OpenModalDeleteEmployee(){
       var restaurantId = @Model.Id;
       var itemId = $(this).data("id");
       $('#deleteEmployeeButton').attr('href', "/Restaurant/" + restaurantId + "/RemoveEmployee/" + itemId);
       $("#deleteEmployeeModal").modal();
    }

    function OpenModalDeleteSchedule(){
       var restaurantId = @Model.Id;
       var itemId = $(this).data("id");
       $('#deleteScheduleButton').attr('href', "/Schedule/Delete/" + restaurantId + "/" + itemId);
       $("#deleteScheduleModal").modal();
    }
</script>