@model Horeca.MVC.Models.Restaurants.RestaurantDetailViewModel

<div class="text-center">
    <div class="d-flex flex-column">
        <h1 class="display-4">@Model.Name</h1>
        <div class="d-flex ">
            @if (accountService.Authorize("MenuCard_Read"))
            {
                <div class="table-responsive flex-grow-1 m-2">
                    <h2 class="display-6">Menu Cards</h2>
                    <table class="table table-hover mt-2" style="display: visible;">
                        <thead>
                            <tr>
                                <th scope="col" class="col-9">Name</th>
                                <th scope="col" class="col-3">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var menuCard in @Model.MenuCards)
                            {
                                <tr>
                                    <td>@menuCard.Name</td>
                                    <td>
                                        <a asp-controller="MenuCard" asp-action="Detail" asp-route-id="@menuCard.Id" class="btn btn-primary">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            @if (accountService.Authorize("ApplicationUser_Read"))
            {
                <div class="table-responsive flex-grow-1 m-2">
                    <h2 class="display-6">Employees</h2>
                    <table class="table table-hover mt-2" style="display: visible;">
                        <thead>
                            <tr>
                                <th scope="col" class="col-7">Username</th>
                                <th scope="col" class="col-5">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in @Model.Employees)
                            {
                                <tr>
                                    <td>@employee.Username</td>
                                    <td>
                                        <a asp-controller="Account" asp-action="Detail" asp-route-username="@employee.Username" class="btn btn-primary">
                                            Details
                                        </a>
                                        @if (accountService.Authorize("Restaurant_Update"))
                                        {
                                            <button id="toDeleteModal" type="button" class="modalbutton btn btn-danger"
                                                data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@employee.Id">
                                                Remove
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                            @if (accountService.Authorize("Restaurant_Update"))
                            {
                                <tr>
                                    <td colspan="2">
                                        <a asp-action="AddEmployee" asp-route-restaurantId="@Model.Id" type="button" class="btn btn-primary">
                                            Add Employee
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        @if (accountService.Authorize("RestaurantSchedule_Read"))
        {
            <div class="table-responsive m-2">
                <h2 class="display-6">Schedules</h2>
                <table class="table table-hover mt-2" style="display: visible;">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var schedule in @Model.RestaurantScheduleListViewModel.RestaurantSchedules)
                        {
                            <tr>
                                <td>@schedule.Id</td>
                                <td>@schedule.StartTime</td>
                                <td>@schedule.EndTime</td>
                                <td>
                                    <a asp-controller="Schedule" asp-action="Detail" asp-route-id="@schedule.Id" class="btn btn-primary">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="deleteModal" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Remove Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this employee from this restaurant?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteButton" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       $(document).on("click","#toDeleteModal",OpenModalDelete);
    });

    function OpenModalDelete(){
       var restaurantId = @Model.Id;
       var itemId = $(this).data("id");
       $('#deleteButton').attr('href', "/Restaurant/" + restaurantId + "/RemoveEmployee/" + itemId);
       $("#deleteModal").modal();
    }
</script>