@using Horeca.Shared.Constants
@using static Horeca.Shared.Utils.Constants
@model Horeca.MVC.Models.Restaurants.RestaurantDetailViewModel

<div class="text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none" asp-controller="Restaurant" asp-action="Index" asp-route-id="@accountService.GetCurrentUser().Id">
                    Restaurants
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
        </ol>
    </nav>
    <div class="shadow card bg-light mt-3">
        <div class="card-header bg-dark">
            <h1>@Model.Name</h1>
        </div>
        @if (accountService.Authorize(PermissionConstants.Schedule_Read))
        {
            <div class="shadow card bg-light m-3">
                <div class="card-header bg-dark">
                    <h2>Schedules</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-light table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Schedule Date</th>
                                <th scope="col">Period</th>
                                <th scope="col">Capacity</th>
                                <th scope="col">Status</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var schedule in @Model.ScheduleList.Schedules)
                            {
                                <tr>
                                    <td>@schedule.Id</td>
                                    <td>@schedule.ScheduleDate.ToShortDateString()</td>
                                    <td>@schedule.StartTime.ToShortTimeString() - @schedule.EndTime.ToShortTimeString()</td>
                                    <td>@schedule.AvailableSeat / @schedule.Capacity</td>
                                    <td>@schedule.Status</td>
                                    <td>
                                        @if (schedule.Status != ScheduleStatus.Expired 
                                        && schedule.Status != ScheduleStatus.Unavailable 
                                        && schedule.Status != ScheduleStatus.Full)
                                        {

                                            @if (accountService.Authorize(PermissionConstants.Booking_Create))
                                            {
                                                <a asp-controller="Booking" asp-action="Create" asp-route-id="@schedule.Id" class="btn btn-primary">Book</a>
                                            }
                                           
                                        }
                                             @if (accountService.Authorize(PermissionConstants.Schedule_Read))
                                            {
                                            <a asp-controller="Schedule" asp-action="Detail" asp-route-id="@schedule.Id" class="btn btn-primary">Details</a>
                                            }
                                            @if (accountService.Authorize(PermissionConstants.Schedule_Delete))
                                            {
                                                <button id="toDeleteScheduleModal" type="button" class="modalbutton btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#deleteScheduleModal" data-id="@schedule.Id">
                                                    Delete
                                                </button>
                                            }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-dark">
                    @if (accountService.Authorize(PermissionConstants.Restaurant_Update))
                    {
                        <a asp-controller="Schedule" asp-action="Create" asp-route-restaurantId="@Model.Id" type="button" class="btn btn-primary">
                            Add Schedule
                        </a>
                    }
                </div>
            </div>
        }
        @if (accountService.Authorize(PermissionConstants.ApplicationUser_Read) && accountService.Authorize(PermissionConstants.Employee_Read))
        {
            <div class="shadow card bg-light m-3">
                <div class="card-header bg-dark">
                    <h2>Employees</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-light table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="col-7">Username</th>
                                <th scope="col" class="col-5">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in @Model.Employees)
                            {
                                <tr>
                                    <td>@employee.Username</td>
                                    <td>
                                        @if (accountService.Authorize(PermissionConstants.Permission_Delete) ||
                                       accountService.Authorize(PermissionConstants.Permission_Update))
                                        {
                                            <a asp-controller="Account" asp-action="Detail" asp-route-username="@employee.Username" class="btn btn-primary">Details</a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Account" asp-action="Detail" asp-route-username="@employee.Username" class="btn btn-primary disabled">Details</a>
                                        }
                                        @if (accountService.Authorize(PermissionConstants.Restaurant_Delete))
                                        {
                                            <button id="toDeleteEmployeeModal" type="button" class="modalbutton btn btn-danger"
                                        data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal" data-id="@employee.Id">
                                                Remove
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-dark">
                    @if (accountService.Authorize(PermissionConstants.Restaurant_Update))
                    {
                        <a asp-action="AddEmployee" asp-route-restaurantId="@Model.Id" type="button" class="btn btn-primary">
                            Add Employee
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="deleteEmployeeModal" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-light">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="deleteModalLabel">Remove Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black">
                Are you sure you want to remove this employee from this restaurant?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteEmployeeButton" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteScheduleModal" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-light">
            <div class="modal-header bg-dark">
                <h5 class="modal-title" id="deleteModalLabel">Delete Schedule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black">
                Are you sure you want to delete this schedule?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteScheduleButton" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       $(document).on("click","#toDeleteScheduleModal",OpenModalDeleteSchedule);
       $(document).on("click","#toDeleteEmployeeModal",OpenModalDeleteEmployee);
    });

    function OpenModalDeleteSchedule(){
       var restaurantId = @Model.Id;
       var itemId = $(this).data("id");
       $('#deleteScheduleButton').attr('href', "/Schedule/Delete/" + restaurantId + "/" + itemId);
       $("#deleteScheduleModal").modal();
    }

    function OpenModalDeleteEmployee(){
       var restaurantId = @Model.Id;
       var itemId = $(this).data("id");
       $('#deleteEmployeeButton').attr('href', "/Restaurant/" + restaurantId + "/RemoveEmployee/" + itemId);
       $("#deleteEmployeeModal").modal();
    }
</script>