@model Horeca.MVC.Models.Menus.MenuDetailViewModel

<div class="text-center">
    <div class="d-flex flex-column text-center align-items-center">
        <div class="card mt-3">
            <div class="card-header">
                <h1>@Model.Name</h1>
            </div>
            <div class="table-responsive">
                <table class="table mt-2">
                    <tbody>
                        <tr class="d-flex flex-column">
                            <th scope="col">Category</th>
                            <td scope="row">@Model.Category</td>
                        </tr>
                        <tr class="d-flex flex-column">
                            <th scope="col">Description</th>
                            <td scope="row">@Model.Description</td>
                        </tr>
                        <tr class="d-flex flex-column">
                            <th scope="col">Dishes</th>
                            <td scope="row">
                                <div class="table-responsive">
                                    <table class="table table-hover" style="table-layout: fixed">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Dish Type</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @Model.Dishes)
                                            {
                                                <tr>
                                                    <td>@item.Name</td>
                                                    <td>@item.DishType</td>
                                                    <td>@item.Category</td>
                                                    <td>
                                                        @if (accountService.Authorize(PermissionConstants.Dish_Update))
                                                        {
                                                            <a asp-action="EditDish" asp-route-menuId="@Model.MenuId"
                                                       asp-route-dishId="@item.DishId" class="btn btn-primary">
                                                                Edit
                                                            </a>
                                                        }
                                                        @if (accountService.Authorize(PermissionConstants.Dish_Delete))
                                                        {
                                                            <button id="toDeleteModal" type="button" class="modalbutton btn btn-danger" data-bs-toggle="modal"
                                                            data-bs-target="#deleteModal" data-id="@item.DishId">
                                                                Delete
                                                            </button>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="4">
                                                    @if (accountService.Authorize(PermissionConstants.Dish_Create))
                                                    {
                                                        <a asp-action="CreateDish" asp-route-id="@Model.MenuId" class="btn btn-primary">Add Dish</a>
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td scope="row" colspan="2">
                                @if (accountService.Authorize(PermissionConstants.Menu_Update))
                                {
                                    <a asp-action="Edit" asp-route-id="@Model.MenuId" class="btn btn-primary">Edit</a>
                                }
                                <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="deleteModal" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Menu Dish</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this dish from this menu?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteButton" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       $(document).on("click","#toDeleteModal",OpenModalDelete);
    });

    function OpenModalDelete(){
       var menuId = @Model.MenuId;
       var itemId = $(this).data("id");
       $('#deleteButton').attr('href', "/Menu/DeleteDish/" + menuId + "/" + itemId)
       $("#deleteModal").modal();
    }
</script>