@model Horeca.MVC.Models.Menus.MenuListViewModel

@{
    ViewData["Title"] = "Menu Overview";
}

<div class="text-center">
    <h1 class="display-4">Menus</h1>
    <div class="container mb-3">
        <div class="row">
            <div class="col input-group">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control" placeholder="Search..." />
                </div>
            </div>
            <div class="col">
                <button class="btn btn-primary" onclick="toggleView()">Toggle View</button>
            </div>
            <div class="col">
                @if (accountService.Authorize("Menu_Create"))
                {
                    <a asp-action="Create" class="btn btn-primary float-end">New Menu</a>
                }
            </div>
        </div>
    </div>
    <div id="cardsView" class="row row-cols-1 row-cols-md-3 g-4 mt-2" style="display: none;">
        @foreach (var item in @Model.Menus)
        {
            <div class="col">
                <div class="card">
                    <img src="https://www.lutosa.com/wp-content/uploads/2021/05/19683_-_skinny_fries_5.5-5.5_skin-on-1.png"
                     class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">
                            @item.Description
                        </p>
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <th class="col-6">Category</th>
                                    <td class="col-6">@item.Category</td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <a asp-action="Detail" asp-route-id="@item.MenuId" class="btn btn-primary">Details</a>
                        @if (accountService.Authorize("Menu_Update"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.MenuId" class="btn btn-primary">Edit</a>
                        }
                        @if (accountService.Authorize("Menu_Delete"))
                        {
                            <button id="toDeleteModal" type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" data-id="@item.MenuId">
                                Delete
                            </button>
                        }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="table-responsive">
        <table id="tableView" class="table table-hover mt-2" style="display: visible;">
            <thead>
                <tr>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-2">Name</th>
                    <th scope="col" class="col-2">Category</th>
                    <th scope="col" class="col-4">Description</th>
                    <th scope="col" class="col-3">Options</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < @Model.Menus.Count; i++)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@Model.Menus[i].Name</td>
                        <td>@Model.Menus[i].Category</td>
                        <td>@Model.Menus[i].Description</td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@Model.Menus[i].MenuId" class="btn btn-primary">Details</a>
                            @if (accountService.Authorize("Menu_Update"))
                            {
                                <a asp-action="Edit" asp-route-id="@Model.Menus[i].MenuId" class="btn btn-primary">Edit</a>
                            }
                            @if (accountService.Authorize("Menu_Delete"))
                            {
                                <button id="toDeleteModal" type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" data-id="@Model.Menus[i].MenuId">
                                    Delete
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="deleteModal" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this menu?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteButton" asp-action="Delete" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       $(document).on("click","#toDeleteModal",OpenModalDelete);
    });

    function OpenModalDelete(){
       var itemId = $(this).data("id");
       $('#deleteButton').attr('href', "/Menu/Delete/" + itemId)
       $("#deleteModal").modal();
    }
</script>