<div class="text-center">
    <div class="d-flex flex-column">
        <h1 class="display-4">Booking @Model.Id</h1>
        <table class="table table-responsive mt-2">
            <thead>
                <tr>
                    <th scope="col" class="col-2">Contact Name</th>
                    <th scope="col" class="col-2">Date</th>
                    <th scope="col" class="col-2">Check In</th>
                    <th scope="col" class="col-2">Check Out</th>
                    <th scope="col" class="col-2">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">@Model.FullName</td>
                    <td>@Model.BookingDate</td>
                    <td>@Model.CheckIn</td>
                    <td>@Model.CheckOut</td>
                    <td>@Model.BookingStatus</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td scope="row" colspan="5">
                        <a asp-action="Index" class="btn btn-secondary">Go Back</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>