@using static Horeca.Shared.Utils.Constants
@model Horeca.MVC.Models.Schedules.MutateScheduleViewModel

<div class="text-center">
    <div class="shadow card bg-light mt-3">
        <div class="card-header bg-dark">
            <h1>Edit schedule of @Model.ScheduleDate.ToShortDateString()</h1>
        </div>
        <div>
            <form asp-action="Edit" class="w-75 mx-auto">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div style="display: none">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div style="display: none">
                    <label asp-for="RestaurantId" class="control-label"></label>
                    <input asp-for="RestaurantId" class="form-control" readonly="readonly" />
                    <span asp-validation-for="RestaurantId" class="text-danger"></span>
                </div>
                <div class="form-group row mt-2">
                    <div class="col">
                        <label asp-for="ScheduleDate" class="control-label">Schedule Date</label>
                        <input asp-for="ScheduleDate" type="date" class="form-control" />
                        <span asp-validation-for="ScheduleDate" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="StartTime" class="control-label">Start Time</label>
                        <input asp-for="StartTime" type="time" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="EndTime" class="control-label">End Time</label>
                        <input asp-for="EndTime" type="time" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col">
                        <label asp-for="AvailableSeat" class="control-label">Available Seats</label>
                        <input asp-for="AvailableSeat" class="form-control" />
                        <span asp-validation-for="AvailableSeat" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Capacity" class="control-label"></label>
                        <input asp-for="Capacity" class="form-control" />
                        <span asp-validation-for="Capacity" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control">
                        <option value="@ScheduleStatus.Available">Available</option>
                        <option value="@ScheduleStatus.Unavailable">Unavailable</option>
                        <option value="@ScheduleStatus.Full">Full</option>
                        <option value="@ScheduleStatus.Expired">Expired</option>
                    </select>
                </div>
                <div class="form-group mt-2 mb-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

