@using static Horeca.Shared.Utils.Constants
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @if (restaurantService.GetCurrentRestaurantId() != 0 && restaurantService.GetCurrentRestaurantId != null)
        {
            @if (accountService.Authorize(PermissionConstants.Ingredient_Read) || accountService.Authorize(PermissionConstants.Dish_Read) ||
           accountService.Authorize(PermissionConstants.Menu_Read) || accountService.Authorize(PermissionConstants.MenuCard_Read))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link text-white dropdown-toggle" href="#" id="kitchenDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                        Kitchen
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="kitchenDropdown">
                        @if (accountService.Authorize(PermissionConstants.Ingredient_Read))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white dropdown-item" asp-area="" asp-controller="Ingredient" asp-action="Index">
                                    Ingredients
                                </a>
                            </li>
                        }
                        @if (accountService.Authorize(PermissionConstants.Dish_Read))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white dropdown-item" asp-area="" asp-controller="Dish" asp-action="Index">
                                    Dishes
                                </a>
                            </li>
                        }
                        @if (accountService.Authorize(PermissionConstants.Menu_Read))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white dropdown-item" asp-area="" asp-controller="Menu" asp-action="Index">
                                    Menus
                                </a>
                            </li>
                        }
                        @if (accountService.Authorize(PermissionConstants.MenuCard_Read))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white dropdown-item" asp-area="" asp-controller="MenuCard" asp-action="Index">
                                    Menu Cards
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            @if (accountService.Authorize(PermissionConstants.Order_Read))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Order" asp-action="Index"
               asp-route-restaurantId="@restaurantService.GetCurrentRestaurantId()" asp-route-state="@OrderState.Begin">
                        Orders
                    </a>
                </li>
            }
            @if (accountService.Authorize(PermissionConstants.Booking_Read))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Booking" asp-action="YourBookings">Your Bookings</a>
                </li>
            }
            @if (accountService.Authorize(PermissionConstants.Floorplan_Read))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Floorplan" asp-action="Index">Floor Plans</a>
                </li>
            }
@*            @if (accountService.Authorize(PermissionConstants.ApplicationUser_Delete))
            {
                <li class="nav-item">
                    <a class="nav-link text-white" asp-action="Index" asp-controller="Account" class="btn btn-primary">Users</a>
                </li>
            }*@
        }
    </ul>
    <ul class="navbar-nav flex-grow-1 flex-row-reverse">
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        @if (accountService.IsLoggedIn())
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Log out</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle" href="#" id="userNavDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Welcome, @accountService.GetCurrentUser().Username!
                </a>

                @if (accountService.Authorize(PermissionConstants.Restaurant_Read))
                {
                    <ul class="dropdown-menu bg-dark" aria-labelledby="restaurantNavDropdown">
                        @if (!restaurantService.GetCurrentRestaurantName().Equals("Horeca"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white dropdown-item" asp-area="" asp-controller="Restaurant" asp-action="Detail"
                                    asp-route-id="@restaurantService.GetCurrentRestaurantId()">
                                    View @restaurantService.GetCurrentRestaurantName()
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white dropdown-item" asp-area="" asp-controller="Restaurant" asp-action="Index" asp-route-id="@accountService.GetCurrentUser().Id">
                                Switch Restaurant
                            </a>
                        </li>
                    </ul>
                }
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
            </li>
        }
    </ul>
</div>