@model Horeca.MVC.Models.Dishes.DishListViewModel

<div class="text-center">
    <h1 class="display-4">Dishes</h1>
    <div class="container">
        <div class="row">
            <div class="col input-group">
                <div class="form-outline">
                    <input type="search" class="form-control" placeholder="Search..." />
                </div>
            </div>
            <div class="col">
                <button class="btn btn-primary" onclick="toggleView()">Toggle View</button>
            </div>
            <div class="col">
                @if (accountService.Authorize("Dish_Create"))
                {
                    <a asp-action="Create" class="btn btn-primary float-end">New Dish</a>
                }
            </div>
        </div>
    </div>
    <div id="cardsView" class="row row-cols-1 row-cols-md-3 g-4 mt-2" style="display: none;">
        @foreach (var item in @Model.Dishes)
        {
            <div class="col">
                <div class="card">
                    <img src="https://www.solo.be/uploadedimages/recepten/afbeeldingen/168331-biefstuk-friet.jpg"
                     class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <div>
                            <table class="table" style="table-layout: fixed">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@item.DishType</td>
                                        <td>@item.Category</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <a asp-action="Detail" asp-route-id="@item.DishId" class="btn btn-primary">Details</a>
                @if (accountService.Authorize("Dish_Update"))
                {
                            <a asp-action="Edit" asp-route-id="@item.DishId" class="btn btn-primary">Edit</a>
                }
                @if (accountService.Authorize("Dish_Delete"))
                {
                            <button id="toDeleteModal" type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" data-id="@item.DishId">
                                Delete
                            </button>
                }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="table-responsive">
        <table id="tableView" class="table table-hover mt-2" style="display: visible;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Dish Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < @Model.Dishes.Count; i++)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@Model.Dishes[i].Name</td>
                        <td>@Model.Dishes[i].DishType</td>
                        <td>@Model.Dishes[i].Category</td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@Model.Dishes[i].DishId" class="btn btn-primary">Details</a>
                            @if (accountService.Authorize("Dish_Update"))
                            {
                                <a asp-action="Edit" asp-route-id="@Model.Dishes[i].DishId" class="btn btn-primary">Edit</a>
                            }

                            @if (accountService.Authorize("Dish_Delete"))
                            {
                                <button id="toDeleteModal" type="button" class="modalbutton btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" data-id="@Model.Dishes[i].DishId">
                                    Delete
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="deleteModal" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Dish</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this dish?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteButton" asp-action="Delete" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       $(document).on("click","#toDeleteModal",OpenModalDelete);
    });

    function OpenModalDelete(){
       var itemId = $(this).data("id");
       $('#deleteButton').attr('href', "/Dish/Delete/" + itemId)
       $("#deleteModal").modal();
    }
</script>