@using Horeca.MVC.Models.Accounts
@model Horeca.MVC.Models.Accounts.MutatePermissionsViewModel

<div class="text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none" asp-controller="Restaurant" asp-action="Index" asp-route-id="@accountService.GetCurrentUser().Id">
                    Restaurants
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-decoration-none" asp-controller="Restaurant" asp-action="Detail" asp-route-id="@restaurantService.GetCurrentRestaurantId()">
                    @restaurantService.GetCurrentRestaurantName()
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-decoration-none" asp-controller="Account" asp-action="Index">
                    Employees
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-decoration-none" asp-controller="Account" asp-action="Detail" asp-route-username="@Model.Username">
                    @Model.Username
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Add Permissions</li>
        </ol>
    </nav>
    <div class="shadow card bg-light mt-3">
        <div class="card-header bg-dark">
            <h1>Add to Permissions</h1>
        </div>
        <form asp-action="AddPermissions" class="w-75 mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2" style="display: none">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" readonly="readonly" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="PermissionId" class="control-label text-black">Select Permissions</label>
                <select asp-for="PermissionId" asp-items="@(new MultiSelectList(Model.Permissions,
                    "Id", "PermissionName"))" class="form-control text-black" multiple="multiple" size="30">
                    <option value="0" class="text-black">Please select</option>
                </select>
            </div>
            <div class="form-group mt-2 mb-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
            </div>
        </form>
    </div>
</div>