@model Horeca.MVC.Models.Accounts.UserPermissionsViewModel

<div class="text-center">
    <div class="shadow card bg-light mt-3">
        <div class="card-header bg-dark">
            <h1>@Model.Username</h1>
            <div class="d-flex justify-content-center">
                @if (accountService.Authorize(PermissionConstants.Permission_Create))
                {
                    <div class="m-2">
                        <a asp-action="AddPermissions" asp-route-username="@Model.Username" class="btn btn-primary">
                            Add Permissions
                        </a>
                    </div>
                }
                @if (accountService.Authorize(PermissionConstants.Permission_Delete))
                {
                    <div class="m-2">
                        <a asp-action="RemovePermissions" asp-route-username="@Model.Username" class="btn btn-danger">
                            Remove Permissions
                        </a>
                    </div>
                }
                <div class="m-2">
                    <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.Permissions.Count; i++)
                    {
                        <tr>
                            <td scope="row">@Model.Permissions[i].PermissionName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>