@model Horeca.MVC.Models.Ingredients.IngredientViewModel

<div class="text-center">
    <div class="card mt-3">
        <div class="card-header">
            <h1>@Model.Name</h1>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="col">Type</th>
                        <td scope="row">@Model.IngredientType</td>
                    </tr>
                    <tr>
                        <th scope="col">Base Amount</th>
                        <td scope="row">@Model.BaseAmount</td>
                    </tr>
                    <tr>
                        <th scope="col">Unit</th>
                        <td scope="row">@Model.Unit.Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            @if (accountService.Authorize(PermissionConstants.Ingredient_Update))
            {
                <a asp-action="Edit" asp-route-id="@Model.IngredientId" class="btn btn-primary">Edit</a>
            }
            <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
        </div>
    </div>
</div>