@model Horeca.MVC.Models.Ingredients.IngredientViewModel

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <div class="d-flex">
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <th scope="col">Type</th>
                    <td scope="row">@Model.IngredientType</td>
                </tr>
                <tr>
                    <th scope="col">Base Amount</th>
                    <td scope="row">@Model.BaseAmount</td>
                </tr>
                <tr>
                    <th scope="col">Unit</th>
                    <td scope="row">@Model.Unit.Name</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td scope="row" colspan="2">
                        @if (accountService.Authorize(PermissionConstants.Ingredient_Update))
                        {
                            <a asp-action="Edit" asp-route-id="@Model.IngredientId" class="btn btn-primary">Edit</a>
                        }
                        <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>