@model Horeca.MVC.Models.Ingredients.IngredientViewModel

<div class="text-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none" asp-controller="Restaurant" asp-action="Index" asp-route-id="@accountService.GetCurrentUser().Id">
                    Restaurants
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-decoration-none" asp-controller="Restaurant" asp-action="Detail" asp-route-id="@restaurantService.GetCurrentRestaurantId()">
                    @restaurantService.GetCurrentRestaurantName()
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-decoration-none" asp-controller="Ingredient" asp-action="Index">
                    Ingredients
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Ingredient @Model.IngredientId</li>
        </ol>
    </nav>
    <div class="shadow card bg-light mt-3">
        <div class="card-header bg-dark">
            <h1>@Model.Name</h1>
        </div>
        <div class="table-responsive">
            <table class="table table-light">
                <tbody>
                    <tr>
                        <th scope="col">Type</th>
                        <td scope="row">@Model.IngredientType</td>
                    </tr>
                    <tr>
                        <th scope="col">Base Amount</th>
                        <td scope="row">@Model.BaseAmount</td>
                    </tr>
                    <tr>
                        <th scope="col">Unit</th>
                        <td scope="row">@Model.Unit.Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            @if (accountService.Authorize(PermissionConstants.Ingredient_Update))
            {
                <a asp-action="Edit" asp-route-id="@Model.IngredientId" class="btn btn-primary">Edit</a>
            }
            <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
        </div>
    </div>
</div>