@model Horeca.MVC.Models.Ingredients.IngredientListViewModel

<div class="text-center">
    <div class="shadow card bg-light mt-3">
        <div class="card-header bg-dark">
            <h1>Ingredients</h1>
            @if (accountService.Authorize(PermissionConstants.Ingredient_Create))
            {
                <a asp-action="Create" class="btn btn-primary">New Ingredient</a>
            }
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-light table-nowrap mb-0">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class="col-3">Name</th>
                        <th scope="col" class="col-2">Type</th>
                        <th scope="col" class="col-2">Base Amount</th>
                        <th scope="col" class="col-2">Unit</th>
                        <th scope="col" class="col-3">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <tr>
                            <td>@ingredient.Name</td>
                            <td>@ingredient.IngredientType</td>
                            <td>@ingredient.BaseAmount</td>
                            <td>@ingredient.Unit.Name</td>
                            <td>
                                <a asp-action="Detail" asp-route-id="@ingredient.IngredientId" class="btn btn-primary">Details</a>
                                @if (accountService.Authorize(PermissionConstants.Ingredient_Update))
                                {
                                    <a asp-action="Edit" asp-route-id="@ingredient.IngredientId" class="btn btn-primary">Edit</a>
                                }
                                @if (accountService.Authorize(PermissionConstants.Ingredient_Delete))
                                {
                                    <button id="toDeleteModal" type="button" class="modalbutton btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal" data-id="@ingredient.IngredientId">
                                        Delete
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Ingredient</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="dvData">
                Are you sure you want to delete this ingredient?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="deleteButton" asp-action="Delete" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       $(document).on("click","#toDeleteModal",OpenModalDelete);
    });

    function OpenModalDelete(){
       var itemId = $(this).data("id");
       $('#deleteButton').attr('href', "/Ingredient/Delete/" + itemId)
       $("#deleteModal").modal();
    }
</script>